:root {
    --primary-color: #3fd0d4;
    --primary-color-dark: #3abdc1;
    --secondary-color: #212121;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-color-light: #666;
    --text-color-dark: #a9a9a9;
    --border-color: #bdbdbd;
    --border-color-light: #f1f1f1;

    --size-product-on-pc-low: 228px;
    --size-product-on-pc-medium: 282px;
    --size-product-on-tablet: 314px;
    --size-product-on-mobile: 300px;

    --header-tablet-height: 72px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::selection {
    color: var(--white-color);
    background: var(--primary-color);
}

html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    font-size: 62.5%;
    box-sizing: border-box;
    color: var(--text-color);
}

/* Class */


/* Animation */
@keyframes TopFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes languageChoose {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes menuGrow {
    from {
        line-height: 0;
        color: transparent;
    }
    to {
        line-height: 3rem;
        color: var(--text-color);
    }
}

@keyframes modalGrow {
    from {
        transform: scale(.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes GrowY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes GrowX {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* Modal login - register */
.modal__login-register{
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    background-color: rgba(250, 250, 250, 0.8);
    animation: FadeIn .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-login-register__input {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 310px;
    border-radius: 2px;
    overflow: hidden;
    animation: modalGrow .2s ease-in;
}

.modal-login-register__navbar {
    display: flex;
    justify-content: space-between;
}

.modal-login-register__navbar > a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white-color);
}

.modal-login-register-navbar__login-btn,
.modal-login-register-navbar__register-btn {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 5.4rem;
    text-align: center;
    letter-spacing: 2px;
}

.modal-login-register__form {
    padding: 28px 28px 6px;
}

.modal-login-register-form__group {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    background-color: #71dcdf;
    border-radius: 2px;
    margin-top: 6px;
}

.modal-login-register-form__text > h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
}

.modal-login-register-form__text > p {
    font-size: 1.4rem;
    line-height: 2rem;
}

.modal-login-register-form__text > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.modal-login-register-form__text > div > label {
    padding-left: 12px;
    margin: 12px 0;
}

.modal-login-register-form__text > a {
    display: block;
    font-size: 1.4rem;
    color: #299fa4;
    text-decoration: none;
    margin: 0 0 18px;
}

.modal-login-register-form__group > i,
.modal-login-register-form__group > span {
    width: 48px;
    text-align: center;
    font-size: 1.4rem;
}

.modal-login-register-form__group > span {
    font-size: 1.6rem;
}

.modal-login-register-form__group > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: var(--white-color);
}

.modal-login-register-form__group > input::placeholder {
    font-size: 1.4rem;
    color: var(--white-color);
}

.modal-login-register-form__btn {
    background-color: var(--white-color);
    color: var(--text-color);
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    outline: none;
    transition: .2s;
    margin-top: 12px;
    letter-spacing: 2px;
}

.form--register .modal-login-register-navbar__login-btn {
    background-color: #3abdc1;
}

.form--login .modal-login-register-navbar__register-btn {
    background-color: #3abdc1;
}

.form--login .modal-login-register-form__group--register,
.form--login .modal-login-register-form__text--register {
    display: none;
}

.form--login .modal-login-register-form__group--login {
    display: flex;
}

.form--login .modal-login-register-form__text--login {
    display: block;
}

.form--register .modal-login-register-form__group--login,
.form--register .modal-login-register-form__text--login {
    display: none;
}

.form--register .modal-login-register-form__group--register {
    display: flex;
}

.form--register .modal-login-register-form__text--register {
    display: block;
}

.modal-login-register-form__text {
    font-size: 1.4rem;
    margin: 16px 0;
    transition: .2s;
}

.modal-login-register-form__text > a:hover {
    color: var(--text-color-light);
}

.modal-login-register-form__btn:hover {
    background-color: #3abdc1;
    color: var(--white-color);
}

.modal-login-register-form__social {
    justify-content: space-between;
}

.modal-login-register-form__facebook,
.modal-login-register-form__google
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: .2s;
}

.modal-login-register-form__facebook {
    background-color: #3b5998;
}

.modal-login-register-form__google {
    background-color: #dd4859;
}

.modal-login-register-form__facebook:hover,
.modal-login-register-form__google:hover {
    opacity: .9;
}