:root {
    --primary-color: #3fd0d4;
    --primary-color-dark: #3abdc1;
    --secondary-color: #212121;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-color-light: #666;
    --text-color-dark: #a9a9a9;
    --border-color: #bdbdbd;
    --border-color-light: #f1f1f1;

    --size-product-on-pc-low: 228px;
    --size-product-on-pc-medium: 282px;
    --size-product-on-tablet: 314px;
    --size-product-on-mobile: 300px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::selection {
    color: var(--white-color);
    background: var(--primary-color);
}

html {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
    font-size: 62.5%;
    box-sizing: border-box;
    color: var(--text-color);
}

/* Class */


/* Animation */
@keyframes TopFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes languageChoose {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes menuGrow {
    from {
        line-height: 0;
        color: transparent;
    }
    to {
        line-height: 3rem;
        color: var(--text-color);
    }
}