:root {
    --icon-percent-size: 22px;
}

/* Header */
.app {
}

.app__header {

}

.header__info {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    height: 46px;
    display: none;
}

.header-info__left {
    display: flex;
}

.header-info-left__item {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 4.6rem;
    margin-left: 10px;
}

.header-info-left__item > i {
    padding: 0 14px;
    color: var(--primary-color);
}

.header-info-left__item > a {
    color: var(--white-color);
    text-decoration: none;
    transition: 0.2s;
}

.header-info-left__item > a:hover {
    color: var(--primary-color);
}

.header-info__right {
    display: flex;
}

.header-info-right__social {
    margin-right: 28px;
}

.header-info-right__social > a {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 4.6rem;
    padding: 0 8px;
    transition: 0.2s;
}

.header-info-right__social > a:hover {
    color: var(--primary-color);
}

.header-info-right-language__input {
    background-color: var(--primary-color-dark);
    font-size: 1.4rem;
    color: var(--white-color);
    width: 126px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.header-info-right-language__input > p {
    padding-right: 12px;
}

.header-info-right-language__input > i {
    position: absolute;
    right: 26px;
}

.header-info-right-language__choose {
    list-style: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;
    position: relative;
    animation: languageChoose .2s linear;
    transition: translate .2s;
    display: none;
}

.header-info-right__language:hover >
.header-info-right-language__choose {
    display: block;
}

.header-info-right-language-choose__item {
    font-size: 1.3rem;
    line-height: 4.6rem;
    padding-left: 32px;
    color: var(--white-color);
    cursor: pointer;
}

.header-info-right-language-choose__item > a {
    position: relative;
    width: 100%;
}

.header-info-right-language-choose__item > a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--white-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: .2s linear;
}

.header-info-right-language-choose__item:hover > a::after  {
    width: 100%;
}

.header-info-right__modal-login {
    height: 100%;
    width: 54px;
    color: var(--white-color);
    font-size: 1.4rem;
    background-color: var(--primary-color);
}

.header-info-right__modal-login > i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    display: none;
}

.header-banner__logo {
    width: 264px;
}

.header-banner__logo img {
    width: 100%;
}

.header-banner__menu {
    padding-top: 24px;
    display: flex;
    width: 844px;
    list-style: none;
}

.header-banner-menu__item,
.header-banner-menu__item-container {
    flex: 1;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 8px 0;
}

.header-banner-menu__item > a,
.header-banner-menu__item-container > a {
    font-weight: 600;
}

.header-banner-menu__item-container {
    position: unset;
}

.header-banner-menu-choose-item-choose__item > a {
    color: var(--text-color-light);
}

.header-link-hover {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    position: relative;
}

.header-link-hover::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: .2s linear;
}

.header-banner-menu-choose-container-item__item > a::after {
    height: 2px;
}

.header-banner-menu__item:hover > a::after {
    width: 100%;
}

.header-banner-menu__item:hover > a,
.header-banner-menu__item-container:hover > a,
.header-banner-menu-choose__item:hover > a,
.header-banner-menu-choose-item-choose__item:hover > a {
    color: var(--primary-color);
}

.header-banner-menu__item-container:hover > a::after {
    width: 100%;
}

.header-banner-menu__item > a::before,
.header-banner-menu__choose-container::before {
    content: '';
    height: 28px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
}

.header-banner-menu__choose-container::before {
    top: -28px;
}

.header-banner-menu__item:hover > 
.header-banner-menu__choose {
    display: block;
}

.header-banner-menu__choose {
    display: none;
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    width: 258px;
    background-color: var(--white-color);
    padding: 36px 24px;
    list-style: none;
    text-align: left;
    box-shadow: 1px 2px 1px #f1f1f1;
    animation: TopFadeIn .2s linear;
}

.header-banner-menu-choose__item {
    padding: 12px;
    white-space: nowrap;
    color: var(--text-color-light);
    position: relative;
}

.header-banner-menu-choose__item > i,
.header-tablet-menu__item > i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.header-banner-menu-choose__item > a {
    white-space: nowrap;
    color: var(--text-color-light);
    text-decoration: none;
    position: relative;
}

.title--active,
.title--active > a {
    color: var(--primary-color) !important;
}

.header-banner-menu-choose__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose__item:hover > 
.header-banner-menu-choose-item__choose {
    display: block;
}

.header-banner-menu-choose-item__choose {
    position: absolute;
    left: calc(100% + 28px);
    top: -40%;
    background-color: var(--white-color);
    box-shadow: 1px 2px 1px #f1f1f1;
    padding: 36px 24px;
    white-space: nowrap;
    list-style: none;
    display: none;
    animation: FadeIn .4s linear;
}

.header-banner-menu-choose-item-choose__item {
    padding: 12px;
}

.header-banner-menu-choose-item-choose__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose-item-choose__item::before {
    content: '';
    height: 80%;
    width: 36px;
    position: absolute;
    top: -24px;
    left: -28px;
    background-color: transparent;
}

.header-banner-menu__item-container:hover >
.header-banner-menu__choose-container {
    display: block;
}

.header-banner-menu__choose-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 252px;
    background-color: var(--white-color);
    padding: 36px 0;
    box-shadow: 2px 1px 2px 2px #f2f2f2;
    animation: TopFadeIn .2s linear;
    display: none;
    z-index: 2;
}

.header-banner-menu-choose-container-item__item {
    padding: 12px;
    text-align: left;
}

.header-banner-menu-choose-container-item__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose-container-item__item:hover > a {
    color: var(--primary-color);
}

.header-banner-menu-choose-container-item__item > a {
    color: var(--text-color-light);
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.header-banner-menu-choose-container-item__item--title > a {
    color: var(--primary-color-dark);
    font-weight: 500;
}

/* Link goto top */
.goto-top {
    --width-size: 64px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: block;
    width: var(--width-size);
    height: var(--width-size);
    line-height: var(--width-size);
    text-align: center;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--white-color);
    border: 1px solid var(--border-color-light);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.goto-top:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Header on tablet - moblie */
.header__tablet {
    z-index: 999;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header__tablet-main {
    z-index: 999;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.header-tablet-menu__icon,
.header-tablet__modal-login {
    font-size: 2rem;
    color: var(--white-color);
    padding: 0 12px;
    cursor: pointer;
    line-height: 2.8rem;
}

.header-tablet__logo {
    height: 36px;
}

.header-tablet__logo > img {
    height: 100%;
}

#menu-tablet {
    position: fixed;
}

#menu-tablet:checked ~ .header-tablet-menu__list-main {
    transform: translateY(0);
}

.header-tablet-menu__list-main {
    z-index: 1;
    background-color: var(--white-color);
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all linear .4s;
    transform: translateY(-100%);
    box-shadow: 1px 1px 2px #f1f1f1;
}

.header-tablet-menu__list {
    list-style: none;
    transition: 0.6s;
}

.header-tablet-menu__item {
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.header-tablet-menu__item > i {
    font-size: 1.8rem;
    right: 18px;
    top: 20px;
    transition: 0.2s;
}

.header-tablet-menu__item + .header-tablet-menu__item {
    border-top: 1px solid var(--border-color-light);
}

.header-tablet-menu__link {
    display: block;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 4rem;
    font-weight: 500;
    background-color: var(--white-color);
}

.header-tablet-menu__item:hover > .header-tablet-menu__link {
    color: var(--primary-color);
}

#menu-tablet-home:checked ~ .header-tablet-menu-link__list {
    display: block;
}

#menu-tablet-home:checked ~ i {
    top: 14px;
    transform: rotate(90deg);
}

.header-tablet-menu-link__list {
    padding-left: 16px;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 0%;
    transition: .4s;
    display: none;
}

.header-tablet-menu-link__item {
    transition: .2s;
}

.header-tablet-menu-link__item + .header-tablet-menu-link__item {
    border-top: 1px solid var(--border-color-light);
}

.header-tablet-menu-link__item:hover {
    color: var(--primary-color);
}



/* Container */

/* Banner */
.app_container {
    margin: 72px 0;
}

.container__banner {
}

.container-banner__right {
    background-image: url(../images/travel-slide-1.jpg);
    background-size: cover;
    height: 354px;
    margin: 12px 0;
}

.container-banner__left {
    background-image: url(../images/travel-slide-2.jpg);
    background-size: cover;
    height: 576px;
    margin: 12px 0;
}

.container__popular-tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.popular-tours__img {
    flex: 4;
    width: 100%;
}

.popular-tours__img > img {
    width: 100%;
}

.popular-tours__content {
    flex: 6;
}

.popular-tours-content__title > h2 {
    font-size: 2.8rem;
    line-height: 4rem;
}

.popular-tours-content__title > p {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color-light);
}

.popular-tours-content__percent {
    margin-top: 52px;
}

.popular-tours-content-percent__item {
    margin-top: 28px;
}

.popular-tours-content-percent__top {
    display: flex;
    justify-content: space-between;
}

.popular-tours-content-percent-top__title,
.popular-tours-content-percent-top__value {
    font-size: 1.6rem;
    font-weight: 600;
}

.popular-tours-content-percent-top__value::after {
    content: '%';
}

.popular-tours-content-percent__bottom {
    margin-top: 12px;
    height: var(--icon-percent-size);
    background-color: #f0ede8;
}

.popular-tours-content-percent__fill {
    display: block;
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.popular-tours-content-percent__fill::after,
.popular-tours-content-percent__fill::before {
    content: '';
    background-color: var(--primary-color-dark);
    height: var(--icon-percent-size);
    width: var(--icon-percent-size);
    position: absolute;
}

.popular-tours-content-percent__fill::after {
    left: 0;
}

.popular-tours-content-percent__fill::before {
    right: 0;
}

.container__img {
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
}

.container__img > img {
    width: 100%;
    object-fit: cover;
}

.container__text {
    margin: 78px 0;
    text-align: center;
}

.container__text > h2 {
    font-size: 3.2rem;
    line-height: 3rem;
}

.container__text > p {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--text-color-light);
}

/* Gird image */
.container__gird-image {
    box-sizing: border-box;
}

.grid-image__link {
    height: 100%;
    width: 100%;
}

.grid-image__item {
    width: var(--size-product-on-mobile);
    height: var(--size-product-on-mobile);
    overflow: hidden;
    margin-bottom: 18px;
    position: relative;
}

.grid-image__item--double-height {
    height: calc(var(--size-product-on-mobile) * 2);
}

.grid-image__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s ease-in-out;
    filter: brightness(85%);
}

.grid-image__item:hover > img {
    transform: scale(1.04);
    filter: brightness(65%);
}

.grid-image__text {
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}

.grid-image__text > p {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
}

.grid-image-text__right::before {
    content: '$';
}

/* Count numbers */
.container__count-numbers {
    padding: 72px 0;
    text-align: center;
}

.count-numbers__item + .count-numbers__item {
    margin-top: 32px;
}

.container__count-numbers h2 {
    font-size: 6rem;
    line-height: 8rem;
}

.container__count-numbers h4 {
    font-size: 1.8rem;
    line-height: 4rem;
}

.container__count-numbers p {
    font-size: 1.6rem;
    line-height: 3rem;
}

/* Video */
.container__video {
    margin: 32px 0;
}

.video__bg-btn {
    position: relative;
}

.video-bg-btn__background {
    width: 100%;
    overflow: hidden;
}

.video-bg-btn__background > img {
    width: 100%;
    object-fit: cover;
}

.video-bg-btn__button {
    --size-button: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size-button);
    height: var(--size-button);
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
}

.video-bg-btn__button::after {
    content: '';
    border: solid;
    border-width: 10px 14px;
    border-color: transparent transparent transparent var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 7px), -50%);
}

/* Experience */
.container__experience-intro {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-intro__content {
    flex: 2;
    text-align: center;
}

.experience-intro-content__title {
    font-size: 2.8rem;
    line-height: 4rem;
}

.experience-intro-content__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 24px 0 32px;
    color: var(--text-color-light);
}

.experience-intro-content__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.experience-intro-content__item > p {
    padding-left: 36px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color-light);
}

.experience-intro__image {
    flex: 1;
    margin-top: 32px;
}

.experience-intro__image > img {
    width: 100%;
    object-fit: cover;
}

/* Footer */
.app__footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding: 24px 0 0;
}

.footer__content {
    max-width: 1200px;
    padding-bottom: 52px;
}

.footer-content__item {
    margin-top: 52px;
}

.footer-content__item > img {
    width: 100%;
    object-fit: cover;
}

.footer-content__item > p {
    color: var(--text-color-dark);
    font-size: 1.6rem;
    line-height: 2rem;
}

.footer-content__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 24px;
}

.footer-info {
    flex-direction: column;
    margin-top: 24px;
}

.footer-info .header-info-left__item {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 3.6rem;
    margin-left: 10px;
    margin-left: 0;
}

.footer-info .header-info-left__item i {
    padding-left: 0;
    color: var(--white-color);
}

.footer-info .header-info-left__item:hover > i {
    color: var(--primary-color);
}

.footer-content__posts-place {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 3rem;
}

.footer-content__posts-place > p:hover {
    color: var(--primary-color);
}

.footer-content-posts-place__place {
    color: var(--text-color-dark);
    transition: .2s;
}

.footer-content-posts-place__time {
    color: var(--white-color);
    transition: .2s;
}

.footer-content__form {
    margin-top: 32px;
}

.footer-content__group {
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    background-color: #595959;
    margin-bottom: 6px;
    border-radius: 2px;
}

.footer-content__group > i {
    width: 58px;
    text-align: center;
    font-size: 1.4rem;
}

.footer-content__group > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--white-color);
}

.footer-content__group > input::placeholder {
    color: var(--white-color);
}

.footer-content__group--button {
    background-color: var(--primary-color);
    border: none;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;
}

.footer-content__group--button:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}

.footer__copyright {
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
}

.footer__copyright > p {
    display: inline-block;
    color: var(--text-color-dark);
}

.footer-copyright__info::before {
    content: '@';
}

.footer-copyright__info {
    color: var(--white-color);
    text-decoration: none;
    transition: .2s;
}

.footer-copyright__info:hover {
    color: var(--primary-color);
}