/* Header */
.app {
    height: 200vh;
}

.app__header {

}

.header__info {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    height: 46px;
}

.header-info__left {
    display: flex;
}

.header-info-left__email, 
.header-info-left__phone, 
.header-info-left__address {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 4.6rem;
    margin-left: 10px;
}

.header-info-left__email > i, 
.header-info-left__phone > i, 
.header-info-left__address > i {
    padding: 0 14px;
    color: var(--primary-color);
}

.header-info-left__email > a, 
.header-info-left__phone > a, 
.header-info-left__address > a {
    color: var(--white-color);
    text-decoration: none;
    transition: 0.2s;
}

.header-info-left__email > a:hover, 
.header-info-left__phone > a:hover, 
.header-info-left__address > a:hover {
    color: var(--primary-color);
}

.header-info__right {
    display: flex;
}

.header-info-right__social {
    margin-right: 28px;
}

.header-info-right__social > a {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 4.6rem;
    padding: 0 8px;
    transition: 0.2s;
}

.header-info-right__social > a:hover {
    color: var(--primary-color);
}

.header-info-right-language__input {
    background-color: var(--primary-color-dark);
    font-size: 1.4rem;
    color: var(--white-color);
    width: 126px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.header-info-right-language__input > p {
    padding-right: 12px;
}

.header-info-right-language__input > i {
    position: absolute;
    right: 26px;
}

.header-info-right-language__choose {
    list-style: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;
    position: relative;
    animation: languageChoose .2s linear;
    transition: translate .2s;
    display: none;
}

.header-info-right__language:hover >
.header-info-right-language__choose {
    display: block;
}

.header-info-right-language-choose__item {
    font-size: 1.3rem;
    line-height: 4.6rem;
    padding-left: 32px;
    color: var(--white-color);
    cursor: pointer;
}

.header-info-right-language-choose__item > a {
    position: relative;
    width: 100%;
}

.header-info-right-language-choose__item > a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--white-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: .2s linear;
}

.header-info-right-language-choose__item:hover > a::after  {
    width: 100%;
}

.header-info-right__modal-login {
    height: 100%;
    width: 54px;
    color: var(--white-color);
    font-size: 1.4rem;
    background-color: var(--primary-color);
}

.header-info-right__modal-login > i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
}

.header-banner__logo {
    width: 264px;
}

.header-banner__logo img {
    width: 100%;
}

.header-banner__menu {
    padding-top: 24px;
    display: flex;
    width: 844px;
    list-style: none;
}

.header-banner-menu__item,
.header-banner-menu__item-container {
    flex: 1;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.header-banner-menu__item-container {
    position: unset;
}

.header-banner-menu-choose-item-choose__item > a {
    color: var(--text-color-light);
}

.header-link-hover {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.header-link-hover::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: .2s linear;
}

.header-banner-menu-choose-container-item__item > a::after {
    height: 2px;
}

.header-banner-menu__item:hover > a::after {
    width: 100%;
}

.header-banner-menu__item:hover > a,
.header-banner-menu__item-container:hover > a,
.header-banner-menu-choose__item:hover > a,
.header-banner-menu-choose-item-choose__item:hover > a {
    color: var(--primary-color);
}

.header-banner-menu__item-container:hover > a::after {
    width: 100%;
}

.header-banner-menu__item > a::before,
.header-banner-menu__choose-container::before {
    content: '';
    height: 28px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
}

.header-banner-menu__choose-container::before {
    top: -28px;
}

.header-banner-menu__item:hover > 
.header-banner-menu__choose {
    display: block;
}

.header-banner-menu__choose {
    display: none;
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    width: 258px;
    background-color: var(--white-color);
    padding: 36px 24px;
    list-style: none;
    text-align: left;
    box-shadow: 1px 2px 1px #f1f1f1;
    animation: TopFadeIn .2s linear;
}

.header-banner-menu-choose__item {
    padding: 12px;
    white-space: nowrap;
    color: var(--text-color-light);
    position: relative;
}

.header-banner-menu-choose__item > i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.header-banner-menu-choose__item > a {
    white-space: nowrap;
    color: var(--text-color-light);
    text-decoration: none;
    position: relative;
}

.title--active > a {
    color: var(--primary-color);
}

.header-banner-menu-choose__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose__item:hover > 
.header-banner-menu-choose-item__choose {
    display: block;
}

.header-banner-menu-choose-item__choose {
    position: absolute;
    left: calc(100% + 28px);
    top: -40%;
    background-color: var(--white-color);
    box-shadow: 1px 2px 1px #f1f1f1;
    padding: 36px 24px;
    white-space: nowrap;
    list-style: none;
    display: none;
    animation: FadeIn .4s linear;
}

.header-banner-menu-choose-item-choose__item {
    padding: 12px;
}

.header-banner-menu-choose-item-choose__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose-item-choose__item::before {
    content: '';
    height: 80%;
    width: 36px;
    position: absolute;
    top: -24px;
    left: -28px;
    background-color: transparent;
}

.header-banner-menu__item-container:hover >
.header-banner-menu__choose-container {
    display: block;
}

.header-banner-menu__choose-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 252px;
    background-color: var(--white-color);
    padding: 36px 0;
    box-shadow: 2px 1px 2px 2px #f2f2f2;
    animation: TopFadeIn .2s linear;
    display: none;
    z-index: 2;
}

.header-banner-menu-choose-container-item__item {
    padding: 12px;
    text-align: left;
}

.header-banner-menu-choose-container-item__item:hover > a::after {
    width: 100%;
}

.header-banner-menu-choose-container-item__item:hover > a {
    color: var(--primary-color);
}

.header-banner-menu-choose-container-item__item > a {
    color: var(--text-color-light);
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.header-banner-menu-choose-container-item__item--title > a {
    color: var(--primary-color-dark);
    font-weight: 500;
}

/* Link goto top */
.goto-top {
    --width-size: 64px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: block;
    width: var(--width-size);
    height: var(--width-size);
    line-height: var(--width-size);
    text-align: center;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--white-color);
    border: 1px solid var(--border-color-light);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.goto-top:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}